* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eef1f5;
}

.topbar {
    background: #007bff;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn {
    padding: 7px 15px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #e8e8e8;
}

.content {
    padding: 20px;
}

.card {
    background: white;
    max-width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* UNIVERSAL MOBILE RESPONSIVE FIX */
@media (max-width: 480px) {


    body {
        padding: 15px;
        height: auto;
        min-height: 100vh;
    }

    .login-card,
    .signup-card,
    .otp-container,
    .card {
        padding: 20px !important;
        border-radius: 8px !important;
        width: 100% !important;
    }

    input,
    button {
        font-size: 15px !important;
        padding: 10px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    p {
        font-size: 13px !important;
    }


/* add */
     .topbar {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .logout-btn {
        width: 100%;
    }

    .card {
        width: 100% !important;
        max-width: 100% !important;
    }
}
